table {
    width:100%;
}

:host ::ng-deep .track-table tbody{
    background-color:#3e3838;
    .mat-row td{
        color:white;
    }
}

:host ::ng-deep .track-table thead{
    background-color:#000;
    .mat-header-row th{
        color:white;
    }
}

